* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F2EAE2;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, p {
  margin: 0;
}

#app {
  padding: 1.75rem 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  border-radius: 0.625rem;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 37.5rem;
  display: grid;
  grid-template-rows: auto 1fr;
}
@media (min-width: 37.5rem) {
  .card {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

.cardContent {
  border-radius: 0 0 0.625rem 0.625rem;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 1.25rem;
}
@media (min-width: 37.5rem) {
  .cardContent {
    padding: 2rem;
    row-gap: 1.875rem;
  }
}

.cardContentButton {
  border: 0;
  border-radius: 0.5rem;
  background-color: #3D8168;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: clamp(0.875rem, 0.4375rem + 0.5vw, 1.3125rem);
  line-height: clamp(1.06875rem, 0.534375rem + 0.5vw, 1.603125rem);
  letter-spacing: 0;
}
.cardContentButton:hover {
  background-color: #1A4032;
}

.cardContentButtonIcon {
  margin-right: 0.75rem;
  height: clamp(1.06875rem, 0.534375rem + 0.5vw, 1.603125rem);
  width: auto;
}

.cardContentHeader {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media (min-width: 37.5rem) {
  .cardContentHeader {
    row-gap: 1.25rem;
  }
}

.cardContentHeaderCategory {
  text-transform: uppercase;
  color: #6C7289;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: clamp(0.75rem, 0.375rem + 0.5vw, 1.125rem);
  line-height: clamp(0.9125rem, 0.45625rem + 0.5vw, 1.36875rem);
  letter-spacing: 5px;
}

.cardContentHeaderText {
  color: #6C7289;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: clamp(0.875rem, 0.4375rem + 0.5vw, 1.3125rem);
  line-height: clamp(1.4375rem, 0.71875rem + 0.5vw, 2.15625rem);
  letter-spacing: 0;
}

.cardContentHeaderTitle {
  color: #1C232B;
  font-family: Fraunces, serif;
  font-weight: 700;
  font-size: clamp(2rem, 1rem + 0.5vw, 3rem);
  line-height: clamp(2rem, 1rem + 0.5vw, 3rem);
  letter-spacing: 0;
}

.cardContentPriceBar {
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
  align-items: center;
}

.cardContentPriceBarCurrent {
  color: #3D8168;
  font-family: Fraunces, serif;
  font-weight: 700;
  font-size: clamp(2rem, 1rem + 0.5vw, 3rem);
  line-height: clamp(2rem, 1rem + 0.5vw, 3rem);
  letter-spacing: 0;
}

.cardContentPriceBarOld {
  text-decoration: line-through;
  color: #6C7289;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: clamp(0.875rem, 0.4375rem + 0.5vw, 1.3125rem);
  line-height: clamp(1.4375rem, 0.71875rem + 0.5vw, 2.15625rem);
  letter-spacing: 0;
}

.cardImage {
  border-radius: 0.625rem 0.625rem 0 0;
  height: auto;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 37.5rem) {
  .cardImage {
    border-radius: 0.625rem 0 0 0.625rem;
    height: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
